@-webkit-keyframes back-flip-1 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 1;
    height: 100%;
  }

  50% {
    -webkit-transform: rotateY(90deg) perspective(15rem);
    transform: rotateY(90deg) perspective(15rem);
    z-index: 1;
    height: 50%;
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    z-index: -1;
    height: 0;
  }
}


@keyframes back-flip-1 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 1;
  }

  50% {
    -webkit-transform: rotateY(90deg) perspective(15rem);
    transform: rotateY(90deg) perspective(15rem);
    z-index: 1;
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    z-index: -1;
  }
}


@-webkit-keyframes front-flip-1 {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    z-index: -1;
  }

  50% {
    -webkit-transform: rotateY(-90deg) perspective(15rem);
    transform: rotateY(-90deg) perspective(15rem);
    z-index: -1;
  }

  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 1;
  }
}


@keyframes front-flip-1 {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    z-index: -1;
  }

  50% {
    -webkit-transform: rotateY(-90deg) perspective(15rem);
    transform: rotateY(-90deg) perspective(15rem);
    z-index: -1;
  }

  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 1;
  }
}


@-webkit-keyframes back-flip-2 {
  0% {
    z-index: -1;
  }

  50% {
    -webkit-transform: rotateY(-90deg) perspective(15rem);
    transform: rotateY(-90deg) perspective(15rem);
    z-index: -1;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 1;
  }
}


@keyframes back-flip-2 {
  0% {
    z-index: -1;
  }

  50% {
    -webkit-transform: rotateY(-90deg) perspective(15rem);
    transform: rotateY(-90deg) perspective(15rem);
    z-index: -1;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 1;
  }
}


@-webkit-keyframes front-flip-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 1;
  }

  50% {
    -webkit-transform: rotateY(90deg) perspective(15rem);
    transform: rotateY(90deg) perspective(15rem);
    z-index: 1;
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    z-index: -1;
  }
}


@keyframes front-flip-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 1;
  }

  50% {
    -webkit-transform: rotateY(90deg) perspective(15rem);
    transform: rotateY(90deg) perspective(15rem);
    z-index: 1;
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    z-index: -1;
  }
}
