.contact {
  text-align: center;
  @include inner-box-shadow;

  &__heading {
    @include heading;
    font-size: 2em;
  }

  &__heading:after {
    @include heading-after;
  }

  &__btn {
    margin: 1em;
  }
}
