.contact {
  box-shadow: none;

  &__heading {
    text-align: center;
    @include heading;
    font-size: 2em;
  }

  &__heading:after {
    @include heading-after;
  }

  &__form {
    padding-top: 2em;
    text-align: center;

    &__wrap {
      display: inline;
      text-align: left;

      @media (min-width: $tablet-large) {
        display: flex;
        justify-content: space-between;
      }

      &__field {
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }

    &__fieldset {
      border: none;
      display: flex;
      flex-direction: column;
      padding-bottom: 2em;

      &__label {

      }

      &__case {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid $paragraphs-dark;
        padding: 0.5em;

        &__icon {
          width: 5%;
          text-align: left;
        }

        &__input {
          width: 100%;
        }

        &__input[name="massage"] {
          height: 13.15em;
          vertical-align: middle;
        }
      }
    }

    &__submit {
      width: 50%;
      display: inline-block;
    	margin: 0 auto;
      background: transparent;
      position: relative;
      overflow: hidden;
    	text-transform: uppercase;
    	text-decoration: none;
    	padding: .75em 2em;
    	border: 2px solid rgba(50, 50, 50, 0.44);
    	transition: all .3s ease-out;
      margin: 2em 0 2em 0;

    }

    &__submit:hover {
      background-color: $section;
      color: $buttonsAndUnderline;
      border: 2px solid $buttonsAndUnderline;
      cursor: pointer;
      @include outer-box-shadow;
    }
  }
}

.btn__disabled {
  opacity: 0.3;
  cursor: not-allowed;

  &:hover {
    box-shadow: none;
    border: 2px solid red;
  }
}

@-moz-document url-prefix() {
  .contact__form__fieldset__case__input[name="massage"] {
     height: 13.75em;
  }
}
