.flipcard {
  display: inline-block;
  @include outer-box-shadow;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid $section;

  @media (min-width: $tablet-large) {
    height: 22em;
  }

  &:hover {
    @include inner-box-shadow;
    background-color: $section;
  }

  &__front, &__back {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

    @media (min-width: $tablet-large) {
      width: 20em;
      height: 20em;
      margin-bottom: -10em;
    }

    &__heading {
      font-size: 1.2em;
      padding: 1em;
    }
  }

  &__front {
    position: relative;
    z-index: 1;
    margin-top: 6em;

    @media (min-width: $tablet-large) {
      margin-top: 0;
    }

    &__pic {
      width: 60%;
      height: 60%;

      @media (min-width: $tablet-large) {
        width: 10em;
        height: 10em;
      }
    }

    &.flipcard__back__flip {
      -webkit-animation: back-flip-1 1s 1 forwards;
      animation: back-flip-1 1s 1 forwards;
    }

    &.flipcard__front__flip {
      -webkit-animation: front-flip-1 1s 1 forwards;
      animation: front-flip-1 1s 1 forwards;
    }
  }

  &__back {
    position: relative;
    z-index: -1;
    top: -20em;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);

    @media (min-width: $tablet-large) {
      top: -10em;
    }

    &.flipcard__back__flip {
      -webkit-animation: back-flip-2 1s 1 forwards;
      animation: back-flip-2 1s 1 forwards;
    }

    &.flipcard__front__flip {
      -webkit-animation: front-flip-2 1s 1 forwards;
      animation: front-flip-2 1s 1 forwards;
    }
  }
}
