.frame {
  display: block;
  justify-content: space-between;
  box-shadow: none;

  @media (min-width: $screen-small) {
    display: flex;
  }

  &__slogan {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $frame;

    &__caption {
      @include heading;
      text-align: center;
    }
  }

  &__image {
    flex: 1;
    @include inner-box-shadow;
    padding: 2em;

    &__ovarlay {
      @include outer-box-shadow;
      padding: 1em;
      text-align: center;

      &__pic {
        height: inherit;
        margin: 0 auto;
      }

      &__btn {
        margin: 1em 0 0 0;
      }
    }
  }

  &__info {
    flex: 1;
    @include inner-box-shadow;
    background-color: $section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    &__heading {
      @include heading;
      font-size: 2em;
      text-align: center;
    }

    &__heading:after {
      @include heading-after;
    }

    &__text {
      @include text;

    }
  }
}
