.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 3em;
  top: 2em;
  z-index: 9999!important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $paragraphs-dark;
  border-radius: 0.2em;
  transition: all 0.5s ease;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: $navigation;
  @include heading;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  text-align: center;
}

.bm-menu-wrap {
  text-align: left;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $paragraphs-dark;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  position: fixed;
  text-decoration: none;
  margin-top: 1em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*menu style */
.menu__link {
  text-align: left;
  padding: 0.5em;
  transition: all 0.5s ease;
}

.menu__link__icon {
  margin-right: 0.5em;
}

.menu__link__anchor {
  flex: 3;
  text-decoration: none;
  color: #ffffff;
}
