.header {
  @include fixed-background;
  height: 100vh;

  @media (min-width: $tablet-small) {
    height: auto;
  }

  &__home {
    background-image: url('./images/home.jpg');
    @extend .header;
  }

  &__technology {
    background-image: url('./images/technology.jpg');
    @extend .header;
  }

  &__overlay {
    @include overlay-light;
    display: flex;
    justify-content: center;
    align-items: center;

    &__centered {
      padding: $hero-padding-mobile;
      text-align: center;

      @media (min-width: $tablet-small) {
        padding: $hero-padding-table;
      }

      @media (min-width: $screen-small) {
        padding: $hero-padding-desktop;
      }

      @media (min-width: $screen-large) {
        padding: $hero-padding-desktop-large;
      }
    }
  }

  &__heading {
    @include heading;
    text-shadow: $text-shadow;
    color: $paragraphs-light;
    margin-bottom: 2em;

    @media (min-width: $tablet-small) {
      margin: 0;
    }
  }

  &__heading::after {
    @include heading-after;
    box-shadow: $text-shadow;
  }

  &__caption {
    display: none;
    color: $paragraphs-light;
    text-shadow: $text-shadow;
    @include caption;

    @media (min-width: $tablet-small) {
      display: block;
    }
  }

  &__btn {
    color: #FFFFFF;
    font-weight: $medium;
    text-transform: uppercase;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    border: 1px solid $overlay-light;
    @include outer-box-shadow;
    text-shadow: $text-shadow;
    padding: .75em 2em;
  	transition: all .3s ease-out;
  }

  &__btn:hover {
    box-shadow: none;
    border: 1px solid $paragraphs-light;
    cursor: pointer;
  }
}
