.header {
  @include fixed-background;

  &__home {
    background-image: url('./images/home.jpg');
    @extend .header;
  }

  &__technology {
    background-image: url('./images/technology.jpg');
    @extend .header;
  }

  &__overlay {
    @include overlay-light;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__centered {
      padding: $hero-padding-mobile;
      text-align: center;

      @media (min-width: $tablet-small) {
        padding: $hero-padding-table;
      }

      @media (min-width: $screen-small) {
        padding: $hero-padding-desktop;
      }

      @media (min-width: $screen-large) {
        padding: $hero-padding-desktop-large;
      }
    }
  }

  &__heading {
    @include heading;
    text-shadow: $text-shadow;
    color: $paragraphs-light;
  }

  &__heading::after {
    @include heading-after;
    box-shadow: $text-shadow;
  }

  &__caption {
    display: none;
    color: $paragraphs-light;
    text-shadow: $text-shadow;
    @include caption;

    @media (min-width: $tablet-small) {
      display: block;
    }
  }
}
