//----------------------------------*\
// HTML tags general styles
//----------------------------------*/
h1 {
  font-size: 2em;

  @media (min-width: $tablet-small) {
    font-size: 3em;
  }
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

section, div, article, a, {
  box-sizing: border-box;
}

section {
  margin: 0;
  transition: all 0.5s ease;
  @media (min-width: $tablet-large) {
    @include outer-box-shadow;
    margin: 2em;
  }
}

html {
	height: 100%;
	background-color: #fff;
	color: #5a5665;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #5a5665;
}

button {
  display: inline-block;
	margin: auto;
  background: transparent;
  position: relative;
  overflow: hidden;
	text-transform: uppercase;
	text-decoration: none;
	padding: .75em 2em;
	border: 2px solid rgba(50, 50, 50, 0.44);
  border-radius: 0;
	transition: all .3s ease-out;
}

button:hover {
  background-color: $section;
  color: $buttonsAndUnderline;
  border: 2px solid $buttonsAndUnderline;
  cursor: pointer;
  @include outer-box-shadow;
}

button:active {
  outline: none;
}


img {
  width: 100%;
}

form, input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  line-height: normal;
  border: none;
}
